
.card {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    margin-right: 16px;
    animation: changeColor 3s ease-out infinite;
    transition: all 0.3s ease-out;
  }

  .card.hover {
    transform: skew(2deg, 4deg);
    border-bottom: 4px solid rgb(101, 148, 255);
  }

  .card h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .card p {
    font-size: 14px;
  }

@keyframes changeColor {
  0% {
    box-shadow: 0 2px 16px rgb(106, 255, 101);
  }

  30% {
    box-shadow: 0 2px 16px aqua;
  }

  70% {
    box-shadow :0 2px 16px rgba(17, 0, 255, 0);
  }
  100% {
    box-shadow: 0 2px 16px rgb(106, 255, 101);
  }
}
  
