
.card {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    margin-right: 16px;
    transition: all 0.3s ease-out;
  }

  .card.hover {
    transform: skew(2deg, 4deg);
    border-left: 6px solid rgb(101, 255, 204);
    border-bottom: 4px solid rgb(101, 255, 204);
    animation: borderColor 3s ease-out infinite;
  }

  .card h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .card p {
    font-size: 14px;
  }
  
@keyframes borderColor {
  0% {
    border-color: rgb(101, 255, 204);
  }
  30% {
    border-color: aqua;
  }
  70% {
    border-color: rgb(0, 136, 255);
  }
  100% {
    border-color: rgb(101, 255, 204);
  }
}